p {
  font-size: small;
}

.bg-highlight {
  background-color: #1976d2;
}
.text-highlight {
  background-color: #1976d2;
}

.wd-profile-image{
  height: 100px;
  width: 100px;
 }

.thumb-post {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
  margin-bottom: 1rem;
}

.chart-size {
  height: 500px;
  width: 95%
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
